/* *********************** */
/*  COLUMNS AND STICKY CSS */
/* *********************** */

.content-wrapper {
    display: grid;
    grid-template-columns: calc(60% - 0.5rem) calc(40% - 0.5rem); /* Adjusting for the gap */
    padding-top: 1.5rem;
}

/* Align items to the start */
.left-column,
.right-column {
    display: flex;
    flex-direction: column;
}

/* Sticky Positioning for Right Column */
.right-column {
    position: sticky;
    top: 1rem;
}

/* Layout for Mobile */
@media (max-width: 767px) {
    .content-wrapper {
        grid-template-columns: 1fr; /* Single column layout */
    }

    .right-column {
        position: static; /* Remove sticky on mobile */
    }
}


/* *********************** */
/*  INTERACTIVE ELEMENTS   */
/* *********************** */

.contrast {
    background-color: var(--accent);
    color: var(--light-gray); 
}