/* *********************** */
/*      CAR LISTINGS       */
/* *********************** */

/* Container for Car Listings */
.car-listings {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(19.25rem, 1fr)); /* Automatically adjusts columns */
    gap: 1rem; /* Space between items */
}

/* Individual car item styling */
.car-container {
    overflow: hidden; /* Hides overflowing content */
    transition: box-shadow 0.3s; /* Smooth transition for shadow on hover */
}

.car-container:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 0 2px rgba(0, 0, 0, 0.4); /* Enhanced shadow on hover */
}

.previous-price {
    text-decoration: line-through; /* Styles for previous price */
}

/* *********************** */
/*      CAR STATUS         */
/* *********************** */
.status {
    position: absolute; /* Positioning status labels within car containers */
    top: var(--lg);
    right: calc(-1 * var(--xlg));
    width: calc(4 * var(--xlg));
    line-height: var(--lg) !important; /* Ensure line height is consistent */
    transform: rotate(45deg); /* Diagonal label display */
}

.status.nuevo,
.status.reservado {
    background: var(--accent); /* Background color for new and reserved statuses */
}

.status.vendido {
    background: var(--dark-gray); /* Background color for sold status */
}

.status.disponible {
    display: none; /* Hides available status */
}

/* *********************** */
/*      CAR LABELS         */
/* *********************** */

/* Emissions Label */
.emissions-label,
.emissions-label-new {
    right: var(--xsm); /* Common right positioning for emissions labels */
}

.emissions-label {
    bottom: var(--sm); /* Position for standard emissions label */
}

.emissions-label-new {
    top: var(--sm); /* Position for new emissions label */
}

/* Reset Filter Label */
.resetFilterButton {
    display: none;
}










