/* Import Figtree font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* Reset and General Styles */

body {
    margin: 0;
    padding: 0;
    font-family: 'Figtree', Arial, sans-serif; /* Use Figtree font as the primary font */
    background-color: #FAFAFA; /* Light gray background for the body */
}

/* Container for Car Listings */

.car-listings {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align items to the left of each row */
    gap: 1rem; /* Add spacing between flex items */
    padding-top: 1em;
}

.car-image-container {
    position: relative;
}

.car-container {
    background-color: #FFFFFF;
    margin-bottom: 1.5rem;
    width: calc(25% - 0.75em); /* Adjust width with margin */
    box-sizing: border-box;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    overflow: hidden;
    transition: box-shadow 0.3s; /* Smooth transition for the box shadow change */
}

/* Hover effect to change border and box shadow */
.car-container:hover {
    border-color: grey; /* Change border color on hover */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 0 2px rgba(0, 0, 0, 0.5); /* Multiple box shadows */
    color: inherit; /* Maintain the text color */
}



@media (max-width: 768px) {
    .car-container {
        width: calc(50% - 1em);
    }
}

@media (max-width: 480px) {
    .car-container {
        width: 100%;
    }
    .sort-popup {
        width: 85%!important;
    }
}

/* Car Title */

.car-title {
    font-size: 1rem;
    font-weight: 800;
    height: 2.4em;
    line-height: 1.2em; /* Improved line height */
    padding-bottom: .5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/* Car Details Container */

.car-description-container {
    padding: 0.5rem;
}

.car-details-container {
    display: flex;
    font-size: 0.75rem;
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 2.4em;
}


/* Car Image */
.car-image {
    width: 100%;
    max-width: 100%; /* Ensure image does not exceed its container's width */
    height: auto; /* Allow the height to adjust based on the image's aspect ratio */
    object-fit: cover; /* Ensure the image covers the entire container */
    aspect-ratio: 9/6; /* Set the desired aspect ratio (optional, CSS property supported in modern browsers) */
}



/* Price Container */

.price-container {
    background: #F8F8F8;
    padding-bottom: .5rem;
    padding-top: .15rem;
    padding-left: .5rem;
    padding-right: .5rem;
    font-weight: 700;
}


/* Header Section */

header {
    background-color: #061F34;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.4rem solid #D6B156;
}

.header-content {
    max-width: 80em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 50%;
    height: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 15px;
}






/* Search Tools Section */

.search-tools {
    background-color: #1C371C;

}

/* Search Dropdowns */

.search-tools-container {
    max-width: 80rem;
    margin: 0 auto; /* Center the container horizontally */
    padding: 0 1rem; /* Add padding to the container */
    padding: 20px;
    display: flex;
    flex-wrap: wrap; /* Ensure proper wrapping on smaller screens */
}

.search-options {
    overflow-y: auto;
    padding: 1em;
    border-radius: 2em;
    background-color: #061F34;
}












.listings-info {
    max-width: 80rem;
    margin: 0 auto; /* Center the container horizontally */
    padding: 0 1rem; /* Add padding to the container */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 1em;
    font-size: 1.5rem;
}

.listing-count {
    font-weight: 700;
}

/* Optional: Adjust spacing */
.sort-dropdown label {
    display: flex;
    justify-content: right; /* Center horizontally */
    font-size: 1rem;
    font-weight: 500;
}













.price-container {
    display: flex;
    justify-content: space-between; /* Align children with space between them */
    align-items: center; /* Align items vertically center */
}

.finance-price {
    font-weight: bold; /* Optionally, make finance-price text bold */
    text-align: right; /* Align finance price to the right */
    white-space: nowrap; /* Prevent line breaks within the finance price */
    color: #D6B156; /* Set the font color of finance price to red */
}





/* Remove underline and color from all links */
a {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Use the inherited color (usually black) */
}




.price-details-container {
    display: flex;
    justify-content: space-between; /* Align children with space between them */
    align-items: center; /* Align items vertically center */;
    background: #F8F8F8;
  padding-left: .5rem;
  padding-right: .5rem;
  font-weight: 700;
    font-size:0.5rem;
    line-height: 1rem;
    text-align: center; /* Centers the text horizontally */
}



.finance-details {
    background-color: #F8F8F8;;
    font-size:0.5rem;
    line-height: 1rem;
    text-align: center; /* Centers the text horizontally */
}



.apr-example {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}


.apr-example:hover {
  color:#55A0D7
}




.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 999; /* Ensure the overlay appears below the popup */
    display: none; /* Initially hide the overlay */
}


.show-overlay {
    display: block; /* Display the overlay when the popup is shown */
}


.finance-details-container {
    padding-top: 1rem;
    display: grid;
    gap: 10px; /* Adjust the gap between label and value */
    font-size: 0.9rem;
}

.finance-details-item {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
}

.detail-label {
    font-weight: 500;
}

.detail-value {
    font-weight: 700;
    margin-left: auto; /* Push value to the right */
}

.legal-conditions {
    font-size: 0.6rem;
    font-weight: 400;
    line-height: 0.8rem;
}


    

.popup-container {
    width: 32rem;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000; /* Ensure pop-up appears above other content */
}

.popup-title {
    display: flex;
    justify-content: space-between;
}

.popup-option {
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.popup-option:hover {
    background-color: #f0f0f0;
}



.car-image-container {
    position: relative;
    display: inline-block; /* Ensure inline display for overlay positioning */
}













.emissions-label {
    border-radius: 1rem;
    top: 0.5rem;
    display: flex;
    left: 0.55rem;
    position: absolute;
    box-shadow: 0 3px 10px -5px rgba(0,0,0,1);
}

.emissions img {
    margin-right: 14px; /* Margin between the icon and text */
}




.photo-count-label {
    align-items: center;
    background-color: rgba(25,28,30,.7);
    border-radius: 16px;
    bottom: 8px;
    color: #fff;
    display: flex;
    font-size: 12px;
    left: 0.2rem;
    padding: 4px 8px;
    position: absolute;
    z-index: 1;
    margin: 0.15rem;
}

.photo-count-label img {
    margin-right: 4px; /* Margin between the icon and text */
}




.car-status {
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 22px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 125px;
    box-shadow: 0 3px 10px -5px rgba(0,0,0,1);
    position: absolute;
    top: 22px;
    right: -30px;
}

.car-status.disponible {
    display: none; /* Hide the banner if status is "disponable" */
}
.car-status.nuevo {
    background: linear-gradient(#8bbde1 0,#55A0D7 100%);
}

.car-status.reservado {
    background: linear-gradient(#dbc489 0,#D6B156 100%);
}

.car-status.vendido {
    background: linear-gradient(#edecec 0,#D3D3D3 100%);
}
