/* Import Figtree font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

.header-container {
    min-height: 4.2rem;
}

.listings-action-container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 1rem;
}

/* Links */
a {
    text-decoration: none;
    color: inherit;
}

.link a:hover {
    filter: brightness(0.5) invert(0.5);
}


/* Container for Car Listings */
.car-listings {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1rem 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
}

.car-container {
    width: calc(25% - 0.75em);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    overflow: hidden;
    transition: box-shadow 0.3s;
    margin-bottom: 0.5rem;
    height: 100%;
}

.car-container:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 0 2px rgba(0, 0, 0, 0.4);
}

/* Styles for screens with a max-width of 80rem */
@media (max-width: 70rem) {
    .car-container {
        width: calc(33.33% - 1em); /* 3 items per row */
    }
}

/* Styles for screens with a max-width of 768px */
@media (max-width: 768px) {
    .car-container {
        width: calc(50% - 1em); /* 2 items per row */
    }
}

/* Styles for screens with a max-width of 480px */
@media (max-width: 480px) {
    .car-container {
        width: 100%; /* 1 item per row */
    }
}

/* Car Status */
.car-status {
    text-align: center;
    transform: rotate(45deg);
    width: 10rem;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 1.75rem;
    right: -2.25rem;
    line-height: 1.4rem!important;
}

.previous-price {
    text-decoration: line-through;
}













/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

/* Prevent body scrolling */
.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

/* Popup Container */
.popup-container {
    width: 32rem;
    max-width: 32rem;
    max-height: 80vh;
    border-radius: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    z-index: 1000;
    overflow-y: auto;
    padding-block-end: 1rem;
}

@media (max-width: 768px) {
    .popup-container {
        width: calc(100% - 2rem);
        /* 100% width minus 1rem on each side */
    }
}

.popup-title {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 1.75rem 1.5rem .75rem;
    border-bottom: 1px solid #ddd;
}


.popup-option,
.close-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup-option:hover,
.close-button:hover {
    filter: brightness(0.5) invert(0.5);
}












.finance-details {
    text-align: center;
    border-top: 1px solid #eef0f4;
}

.finance-price,
.apr-example:hover {
    color: #FE5100;
}

.car-status.nuevo,
.car-status.reservado {
    background: #FE5100;
    color: #FAFAFA
    
}

.car-status.vendido {
    background: #747474;
    color: #FAFAFA
}

.car-status.disponible {
    display: none;
}


.filter-row,
#sortLabel,
#listingDetails {
    align-items: center;
}









/*////////////////////////////  GALLERY AND IMAGE STYLING //////////////////////////////*/

/* Styles for Image Container */
.listing-image-container {
    position: relative;
}

.gallery-image-container {
    position: relative;                  /* Position relative for absolute children */
    overflow: hidden;                   /* Prevents overflow */
    border-radius: 1rem 1rem 0 0;      /* Rounds top corners */
}

/* Styles for Car Gallery Images */
.listing-image,
.gallery-image,
.feature-image {
    width: 100%;                        /* Fills the container's width */
    height: auto;                       /* Maintains aspect ratio */
    object-fit: cover;                  /* Covers the entire area */
    aspect-ratio: 9 / 6;                /* Default aspect ratio for larger screens */
}

.feature-image {
    border-radius: 0 0 1rem 1rem;      /* Rounds bottom corners for feature image */
}

/* Media Query for Mobile Screens (480px and below) */
@media (max-width: 480px) {
    .gallery-image {
        aspect-ratio: 4 / 3;            /* Aspect ratio for mobile */
    }
}

/* Styles for Thumbnails */
.thumbnail-container {
    display: flex;                      /* Flexbox layout */
    justify-content: flex-start;        /* Align thumbnails to start */
    gap: 0.35rem;                       /* Space between thumbnails */
    margin-top: 0.1rem;                 /* Margin above the container */
    overflow: hidden;                   /* Prevents overflow */
    border-radius: 0 0 1rem 1rem;      /* Rounds bottom corners */
}

.thumbnail {
    width: calc(25% - 0.25rem);         /* Thumbnail width with margin adjustment */
    opacity: 0.6;                       /* Visual effect */
}

.thumbnail.active {
    opacity: 1;                         /* Full opacity for active thumbnail */
}

/* Common Label Styles */
.label {
    position: absolute;                 /* Positioned absolutely within the container */
    display: flex;                     /* Flexbox layout */
    align-items: center;               /* Center items vertically */
    border-radius: 1rem;              /* Rounded corners */
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1); /* Shadow for depth */
    color: #fff;                       /* Text color */
}

/* Emissions Label */
.emissions-label {
    bottom: 0.5rem;                    /* Position from the bottom */
    right: 0.25rem;                     /* Position from the right */
}

/* Emissions Label */
.emissions-label-new {
    top: 0.25rem;
    right: 0.25rem;
}

/* Photo Count Label */
.photo-count-label {
    bottom: .25rem;                       /* Position from the bottom */
    margin: .25rem;                       /* Margin around the label */
    padding: .05rem .45rem .05rem .35rem;                  /* Padding for label */
    background-color: rgba(25, 28, 30, 0.7); /* Semi-transparent background */
}

/* Navigation Button Styles */
.nav-button-container {
    position: absolute;                 /* Positioned absolutely within the image container */
    top: 50%;                           /* Vertically centered */
    transform: translateY(-50%);       /* Center adjustment */
    display: flex;                      /* Flexbox layout */
    justify-content: space-between;     /* Space between buttons */
    width: calc(100% - .5rem);          /* Full width minus margin */
    padding: 0.25rem;                   /* Padding around buttons */
}

.nav-button {
    opacity: 0.4;                      /* Initial opacity */
    cursor: pointer;
}

.nav-button:hover {
    opacity: 0.8;                      /* Increase opacity on hover */
}




.img-24 {
    width: 24px;
    height: 24px;
}

.img-32 {
    width: 32px;
    height: 32px;
}

.img-48 {
    width: 48px;
    height: 48px;
}
